.bg{
  background-color: #eee;
padding-left: 5em;
padding-right: 5em;
}
.bg2
{
  background-color:white;
}
.container{
  width:100%;
  display: inline-flex;
  justify-content: center;

}

.field
{
  border-radius:50%;
  position:relative;
  background-color: #ffc046;
  height:10em;
  width:10em;
  margin:1em;
  box-sizing: border-box;
  transition: all ease 0.7s;

}

.btn-text
{
  top:calc(50% - 0.5em);
  margin:0;
  position:absolute;
  color:white;
  font-size: 2.5em;

}

.btn-text::after{
  content:'.';
  opacity: 0;
  margin:.5em;
  transition: all ease 0.5s;
}
.btn-text:hover:after{
  opacity: 1;
  margin:-0.1em;
}

.field:hover{
  background-color: #ff8f00;
}

.map {
  height: 100vh;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #ff7b00;
  border-radius: 25px;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  height: 18px;
  width: 18px;
  border-radius: 50px;
  background: #ff8000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ff7b00;
}


.row
{
  position:relative;

}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
}
